imp.txt
__pycache__
venv
venv/
*.pyc
*.pyo
*.egg-info/
dist/
build/
src-wheel/dist/
src-wheel/build/
src-wheel/*.egg-info/
*.tar.gz
*.whl
.env
.idea/
.vscode/
.DS_Store
test-coverage